.commandContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.inputWrapper input {
  height: 28px;
  width: 100%;
}

.memo {
  white-space: pre-wrap;
}

.optionWithInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  border-bottom: 1px solid #868a8e;
  box-shadow: 0px 1px 0 0 #e6e6e6;
}

.optionCheckboxRow {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.optionDescription {
  color: #666;
}

.optionInput {
  width: 100%;
}
