.commandContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.inputWrapper input {
  height: 28px;
  width: 100%;
}

/* .optionWithInput {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 4px;
}

.optionInput {
  flex: 1;
} */